$white: #fff;
$black: #000;
$lightgray: #87949e;
$lightgrayBackground: rgba(133, 147, 157, 0.15);
$darkgray: #576671;
$accent: #17daa3;
$accentDarker: #0d8361;
$section-background: rgba(237, 239, 241, .35);