@use '../abstracts/variables';
@use '../abstracts/typography';
.button {
    width: 183px;
    height: 47px;
    color: variables.$white;
    border-radius: 23px;
}
.button--green {
    background-color: variables.$accent;
    border: none;
    font-size: typography.$fs-small;
    font-weight: typography.$fw-bold;
}