@use '../abstracts/media-query';

.slider-wrapper {
    // position: relative;
    overflow: hidden;

    .arrow-prev {
        rotate: 180deg;
        left: -220px;
        top: 10%;
    }
    .arrow-next {
        right: -220px;
        top: 10%;
    }
    .slide-arrow {
        position: absolute;
        scale: 200%;
        z-index: 1000;
    }
    .slides-container {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        overflow: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            width: 0;
            height: 0;
        }
        .slide {
            width: 100%;
            height: 100%;
            flex: 1 0 100%;
        }
    }
    @include media-query.responsive(phone) {
        .slide-arrow {
            display: none;
        }
    }
    @include media-query.responsive(tablet) {
        .slide-arrow {
            display: none;
        }
    }
    @include media-query.responsive(tablet-landscape) {
        .slide-arrow {
            display: inline;
            position: absolute;
            scale: 200%;
        }
        .arrow-prev {
            rotate: 180deg;
            left: -210px;
            top: 15%;
        }
        .arrow-next {
            right: -210px;
            top: 15%;
        }
        #arrow-next-quotes {
            right: 20px;
            top: 43%;
        }
        #arrow-prev-quotes {
            left: 20px;
            top: 43%;
        }
    }
    @include media-query.responsive(pc-small) {
    }
}