@use '../abstracts/variables';
@use '../abstracts/media-query';
@use '../abstracts/typography';
@use '../abstracts/mixins';
.about-us {
    text-align: center;
    &__title{
        @include mixins.section-title;
        padding-top: 110px;
    }
    span {
        @include mixins.span-greenLine;
    }
    p {
        @include mixins.section-title-paragraph;
        margin-top: 30px;
        
    }
    .elements{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        padding-inline: 346px;
        margin-top: 70px;
        .element
        {
            display: grid;
            place-items: center;
            .img__container {
                display: grid;
                place-items: center;
                background-color: variables.$lightgrayBackground;
                width: 182px;
                height: 182px;
                border-radius: 50%;
                transition: all 0.5s ease-in-out;
                img {
                    -webkit-transition : -webkit-filter 500ms ease-in-out;
                    z-index: 2;
                }
                &:hover{
                    background-color: variables.$accent;
                    img {
                        filter: brightness(2);
                    }
                }
                
            }
            h3 {
                margin-top: 86px;
                font-family: typography.$ff-primary;
                font-size: typography.$fs-large;
                
                font-weight: typography.$fw-regular;
            }
            span {
                line-height: 30px;
            }
            p{
                font-family: typography.$ff-secondary;
                font-weight: typography.$fw-regular;
                line-height: 30px;
                letter-spacing: .45px;
                font-size: typography.$fs-smaller-medium;
            }
        }
    }
    &__button {
        margin-block: 108px;
    }
    @include media-query.responsive(phone) {
        padding-inline: 30px;
        .elements {
            gap: 87px;
            padding-inline: 0px;
            grid-template-columns: 100%;
            .element {
                h3 {
                        margin-top: 40px;
                }
            }
        }
        &__button {
            margin-block: 50px;
        }
    }
    @include media-query.responsive(tablet) {
        padding-inline: 30px;
        p {
            text-wrap: balance;
        }
        .elements {
            gap: 60px 20px;
            padding-inline: 0px;
            grid-template-columns: 50% 50%;
            .element {
                h3 {
                        margin-top: 40px;
                }
            }
        }
        &__button {
            margin-block: 50px;
        }
    }
    @include media-query.responsive(pc-small) {
        .elements {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    @include media-query.responsive(pc) {
        padding-inline: 200px;
        &__button {
            margin-block: 100px 50px;
        }
    }
    @include media-query.responsive(pc-big) {
        padding-inline: 256px;
        .elements {
            gap: 88px 20px;
            margin-top: 156px;
        }
        &__button {
            margin-block: 110px;
        } 
    }
}
