@use '../abstracts/variables';
@use '../abstracts/typography';
@use '../abstracts/mixins';
.about-us {
    text-align: center;
    &__title{
        @include mixins.section-title;
        padding-top: 110px;
    }
    span {
        @include mixins.span-greenLine;
    }
    p {
        @include mixins.section-title-paragraph;
        margin-top: 30px;
        
    }
    .elements{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        padding-inline: 346px;
        margin-top: 70px;
        .element
        {
            display: grid;
            place-items: center;
            .img__container {
                display: grid;
                place-items: center;
                background-color: variables.$lightgrayBackground;
                width: 182px;
                height: 182px;
                border-radius: 50%;
                img {
                    z-index: 2;
                }
                &:hover{
                    background-color: variables.$accent;
                    img {
                        filter: brightness(2);
                    }
                }
                
            }
            h3 {
                margin-top: 86px;
                font-family: typography.$ff-primary;
                font-size: typography.$fs-large;
                font-weight: typography.$fw-regular;
            }
            span {
                line-height: 30px;
            }
            p{
                width: 292px;
                font-family: typography.$ff-secondary;
                font-weight: typography.$fw-regular;
                line-height: 30px;
                letter-spacing: .45px;
                font-size: typography.$fs-smaller-medium;
            }
        }
    }
    &__button {
        margin-block: 108px;
    }
}
