@use '../abstracts/mixins';
@use '../abstracts/variables';
@use '../abstracts/typography';
@use '../abstracts/media-query';

.banner {
    display: grid;
    place-items: center;
    margin-top: 111px;
    padding-block: 280px;
    background-image: url('../../images/try-our-template.png');
    background-size: cover;
    background-repeat: no-repeat;
    &__title{
        margin-bottom: 100px;
        @include mixins.section-title;
        color: variables.$white;
        span {
            font-weight: typography.$fw-bold;
        }
    }
    @include media-query.responsive(phone) {
        text-align: center;
        padding-inline: 20px;
    }
    @include media-query.responsive(tablet) {
        text-align: center;
        padding-inline: 20px;
    }
}