@import '../abstracts/typography';
@import '../abstracts/variables';
.header {
    background-size: cover;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('/images/photo.png');
    background-repeat: no-repeat;
    object-fit: cover;
    padding-inline: 265px;
    .nav {
        padding-top: 57px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > *:not(:first-child) {
                margin-left: 60px;
            }
        }
    }
    .hero {
        display: grid;
        place-items: center;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .slider-wrapper {
            // position: relative;
            overflow: hidden;

            #arrow-prev-header {
                rotate: 180deg;
                left: -220px;
                top: 10%;
            }
            #arrow-next-header {
                right: -220px;
                top: 10%;
            }
            .slide-arrow {
                position: absolute;
                scale: 200%;
            }
            .slides-container {
                width: 100%;
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
                overflow: scroll;
                scroll-behavior: smooth;
                scrollbar-width: none;
                &::-webkit-scrollbar{
                    width: 0;
                    height: 0;
                }
                .slide-header {
                    width: 100%;
                    height: 100%;
                    flex: 1 0 100%;
                }
            }
        }
        
        
        &__text {
            display: flex;
            align-items: center;
            flex-direction: column;
            &__paragraph {
                color: $white;
                line-height: 60px;
                font-family: $ff-secondary;
                font-weight: $fw-light;
            }
        }
        &__button {
            border: 2px solid $white;
            background-color: transparent;
            margin-block: 50px;

        }
        .slides {
            &__icon { 
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 2px solid $white;
                &:not(:first-child) {
                    margin-left: 10px;
                }
                &:first-child {
                    background-color: white;
                }
            }
        }
    }
}