@use '../abstracts/mixins';
@use '../abstracts/variables';
@use '../abstracts/typography';
@use '../abstracts/media-query';

.locations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 126px;
    padding-left: 265px;
    gap: 56px;
    .description {
        &__title {
            @include mixins.section-title;
            margin-bottom: 84px;
        }
        &__paragraph { 
            @include mixins.section-title-paragraph;
            margin-bottom: 74px;
            line-height: 2.25rem;
        }
    }
    @include media-query.responsive(phone) {
        text-align: center;
        grid-template-columns: 100%;
        padding-inline: 20px;
        .image {
            img {
                width: 100%;
            }
            
        }
    }
    @include media-query.responsive(tablet) {
        text-align: center;
        grid-template-columns: 100%; 
        padding-inline: 20px;
        .image {
            img {
                display: none;
            }
            
        }
    }
}