@use '../abstracts/typography';
@use '../abstracts/variables';

.quotes {
    padding-top: 188px;
    background-image: url('../../images/photo_2.png');
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    text-align: center;
    padding-inline: 263px;
    .slider-wrapper {
        position: relative;
        overflow: hidden;
        #arrow-prev-quotes {
            rotate: 180deg;
            left: 0;
            top: 50%;
        }
        #arrow-next-quotes {
            right: 0;
            top: 50%;
        }
        .slide-arrow {
            position: absolute;
        }
        .slides-container {
            width: 100%;
            display: flex;
            margin: 0;
            padding: 0;
            overflow: scroll;
            scroll-behavior: smooth;
            scrollbar-width: none;
            &::-webkit-scrollbar{
                width: 0;
                height: 0;
            }
            .slide-quotes{
                display: grid;
                place-items: center;
                width: 100%;
                height: 100%;
                flex: 1 0 100%;
                img {
                    margin-bottom: 45px;
                }
                q {
                    font-size: typography.$fs-large;
                    font-family: typography.$ff-primary;
                    font-weight: typography.$fw-light;
                    letter-spacing: 0.75px;
                    margin-bottom: 38px;
                    color: variables.$white;
                    span {
                        color: variables.$accent;
                    }
                 }
                p{
                    font-size: typography.$fs-smaller-medium;
                    font-weight: typography.$fw-light;
                    font-family: typography.$ff-primary;
                    letter-spacing: 0.45px;
                    color: rgba(255, 255, 255, 0.3);
                    margin-bottom: 123px;
                    span {
                                                                  font-weight: typography.$fw-medium;
                    }
                }
            }
        }
    }
    .slides {
        &__icon { 
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid variables.$white;
            margin-bottom: 147px;
            &:not(:first-child) {
                margin-left: 10px;
            }
            &:first-child {
                background-color: white;
            }
        }
    }   
}
    

