@use '../abstracts/variables';
@use '../abstracts/typography';
@use '../abstracts/mixins';
@use '../abstracts/media-query';
.services {
    background-color: variables.$section-background;
    &__heading {
        text-align: center;
        h2 {
            padding-top: 110px;
            @include mixins.section-title;
        }
        span {
            @include mixins.span-greenLine;
        }
        p{
            margin-block: 56px 166px;
            @include mixins.section-title-paragraph;
        }
    }
    &__items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 265px 156px 265px;

        .item {
            display: grid;
            grid-template-columns: 1fr 4fr;
            align-items: center;
            margin-right: 20px;
            h3 {       
                color: variables.$darkgray;
                font-family: typography.$ff-primary;
                font-size: typography.$fs-headings;  
                font-weight: typography.$fw-extraLight;
                
            }
            div {
                background-color: variables.$white;
                width: 94px;
                aspect-ratio: 1;
                border-radius: 50%;
                display: grid;
                place-items: center;
            }
            p {
                @include mixins.section-title-paragraph;
                color: variables.$lightgray;
                margin-block: 32px 93px;
                letter-spacing: 0.45px;
                line-height: 3rem;
                grid-column: 2;
            }
        }
    }
    @include media-query.responsive(phone) {
        &__heading {
            h2 {
                padding-top: 100px;
            }
            p {
                margin-block: 56px 100px; 
            }
        }
        &__items{
            grid-template-columns: 100%;
            gap: 0;
            padding: 0 20px 60px 20px;
            .item {
                grid-template-columns: 100%;
                place-items: center;
                text-align: center;
                margin-right: 0px;
                h3 {       
                    font-size: typography.$fs-headings - 1rem;  
                    
                }
                div {
                    width: 70px;
                    margin-bottom: 10px;
                    img {
                        scale: 80%
                    }
                }
                p {
                    line-height: 1.5rem;
                    grid-column: 1;
                }
            }
        }
    }
    @include media-query.responsive(tablet) {
        &__heading {
            h2 {
                padding-top: 30px;
            }
            p {
                margin-block: 56px 100px; 
            }
        }
        &__items{
            grid-template-columns: 1fr 1fr;
            gap: 60px;
            padding: 0 40px 60px 40px;
            .item {
                grid-template-columns: 100%;
                place-items: center;
                text-align: center;
                margin-right: 0px;
                column-gap: 10px;
                div {
                    width: 70px;
                    margin-bottom: 10px;
                }
                p {
                    line-height: 1.5rem;
                    margin-bottom: 40px;
                    padding-inline: 30px;
                    grid-column: 1;
                }
            }
        }
    }
    @include media-query.responsive(tablet-landscape) {
        &__heading {
            p {
                margin-block: 56px 100px; 
            }
        }
        &__items{
            grid-template-columns: 1fr 1fr;
            gap: 40px;
            padding: 0 60px 60px 60px;
            .item {
                grid-template-columns: 100%;
                column-gap: 10px;
                div {
                    width: 80px;
                    margin-bottom: 10px;
                }
                p {
                    line-height: 1.5rem;
                    grid-column: 1;
                }
            }
        }
    }
    @include media-query.responsive(pc-small) {
        &__heading {
            p {
                margin-block: 56px 100px; 
            }
        }
        &__items{
            grid-template-columns: 1fr 1fr;
            gap: 40px;
            padding: 0 60px 60px 60px;
            .item {
                grid-template-columns: 1fr 4fr;
                column-gap: 10px;
                place-items: start;
                text-align: start;
                align-items: center;
                div {
                    width: 70px;
                    margin-bottom: 0px;
                }
                p {
                    line-height: 1.5rem;
                    grid-column: 2;
                    padding-inline: 0px;
                }
            }
        }
    }
    @include media-query.responsive(pc) {
        &__heading {
            p {
                margin-block: 56px 100px; 
            }
        }
        &__items{
            grid-template-columns: 1fr 1fr;
            gap: 40px;
            padding: 0 100px 60px 100px;
            .item {
                grid-template-columns: 1fr 4fr;
                column-gap: 10px;
                place-items: start;
                text-align: start;
                div {
                    width: 70px;
                }
                p {
                    line-height: 1.5rem;
                    grid-column: 2;
                    padding-inline: 0px;
                }
            }
        }
    }
    @include media-query.responsive(pc-big) {
        &__heading {
            h2 {
                padding-top: 108px;
            }
            p {
                margin-block: 56px 166px; 
            }
        }
        &__items{
            grid-template-columns: 1fr 1fr;
            padding: 0 256px 150px 256px;
            row-gap: 93px;
            column-gap: 80px;
            .item {
                grid-template-columns: auto 4fr;
                column-gap: 30px;
                
                place-items: start;
                text-align: start;
                align-items: center;
                div {
                    width: 94px;
                    img {
                        scale: 110%;
                    }

                }
                p {
                    line-height: 1.5rem;
                    grid-column: 2;
                    width: auto;
                }
            }
        }
    }
}