@use '../abstracts/mixins';
@use '../abstracts/variables';
@use '../abstracts/typography';
@use '../abstracts/media-query';
.bg--white{
  background-color: #f9f9fa;
}
.bg--grey {
 background-color: #e4e4e5;
}
.bg--lightGrey {
 background-color: #eff0f0;
}


.team {
    &__heading {
        text-align: center;
        h2 {
            padding-top: 110px;
            @include mixins.section-title;
        }
        span {
            @include mixins.span-greenLine;
        }
        p{
            margin-block: 56px 166px;
            @include mixins.section-title-paragraph;
        }
    }
    &__images {
        // display: grid;
        // grid-template-columns: repeat(5, 1fr);
        overflow: hidden;
        .banana {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            overflow: scroll;
            .person {
                display: flex;
                align-items: end;
                justify-content: center;
                position: relative;
                width: 345px;
    
                img{
                    padding-top: 57px;
                }
                .image__overlay {
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: variables.$accent;
                    opacity: 0;
                    transition: .5s ease;
                }
                &:hover::before {
                    opacity: 0.23;
                }
                }
                &::after {
                    content:'\A';
                    position:absolute;
                    width:100%; height:100%;
                    top:0; left:0;
                    background:rgba($color: variables.$accent, $alpha: 0.8);
                    opacity:0;
                    transition: all 0.5s ease-in-out;
                }
                &:hover::after{
                    opacity: 1;
                    .person__name {
                        opacity: 1;
                    }
                }
            
                &__name {        
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    text-align: center;
                    color: variables.$white;
                    opacity: 0;
                    z-index: 100;
                    transition: all 0.5s ease-in-out;
                    font-size: typography.$fs-extraLarge;
                    font-family: typography.$ff-primary;
                    font-weight: typography.$fw-extraLight;
    
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
        
    }
    @include media-query.responsive(phone) {
        &__heading {
            padding-inline: 20px;
        }
        &__images {
            grid-template-columns: repeat(5, 1fr); 
        }
    }
    @include media-query.responsive(tablet) {
        &__heading {
            padding-inline: 20px;
        }
        &__images {
            grid-template-columns: repeat(5, 1fr); 
        }
    }
}