@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400&display=swap");
h1, h2 {
  font-size: 3.75rem;
}

a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.35px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  line-height: 3.75rem;
  letter-spacing: 1.5px;
}
h1 span {
  font-weight: 700;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.6px;
}

h2 {
  font-family: "Raleway", sans-serif;
}

@media (min-width: 1920px) {
  .header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/photo@2x.png");
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2 {
  font-size: 3.75rem;
}

a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.35px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  line-height: 3.75rem;
  letter-spacing: 1.5px;
}
h1 span {
  font-weight: 700;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.6px;
}

h2 {
  font-family: "Raleway", sans-serif;
}

.header {
  background-size: cover;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/photo.png");
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  padding-inline: 265px;
}
.header .nav {
  padding-top: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav__links > *:not(:first-child) {
  margin-left: 60px;
}
.header .hero {
  display: grid;
  place-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .hero .slider-wrapper {
  overflow: hidden;
}
.header .hero .slider-wrapper #arrow-prev-header {
  rotate: 180deg;
  left: -220px;
  top: 10%;
}
.header .hero .slider-wrapper #arrow-next-header {
  right: -220px;
  top: 10%;
}
.header .hero .slider-wrapper .slide-arrow {
  position: absolute;
  scale: 200%;
}
.header .hero .slider-wrapper .slides-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.header .hero .slider-wrapper .slides-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.header .hero .slider-wrapper .slides-container .slide-header {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}
.header .hero__text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header .hero__text__paragraph {
  color: #fff;
  line-height: 60px;
  font-family: "Figtree", sans-serif;
  font-weight: 300;
}
.header .hero__button {
  border: 2px solid #fff;
  background-color: transparent;
  margin-block: 50px;
}
.header .hero .slides__icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.header .hero .slides__icon:not(:first-child) {
  margin-left: 10px;
}
.header .hero .slides__icon:first-child {
  background-color: white;
}

.about-us {
  text-align: center;
}
.about-us__title {
  font-size: 3.75rem;
  color: #576671;
  font-weight: 200;
  padding-top: 110px;
}
.about-us span {
  display: inline-block;
  width: 30px;
  height: 1px;
  background-color: #17daa3;
  margin-top: 30px;
}
.about-us p {
  color: #87949e;
  font-family: "Figtree", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 30px;
}
.about-us .elements {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding-inline: 346px;
  margin-top: 70px;
}
.about-us .elements .element {
  display: grid;
  place-items: center;
}
.about-us .elements .element .img__container {
  display: grid;
  place-items: center;
  background-color: rgba(133, 147, 157, 0.15);
  width: 182px;
  height: 182px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.about-us .elements .element .img__container img {
  -webkit-transition: -webkit-filter 500ms ease-in-out;
  z-index: 2;
}
.about-us .elements .element .img__container:hover {
  background-color: #17daa3;
}
.about-us .elements .element .img__container:hover img {
  filter: brightness(2);
}
.about-us .elements .element h3 {
  margin-top: 86px;
  font-family: "Raleway", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
}
.about-us .elements .element span {
  line-height: 30px;
}
.about-us .elements .element p {
  width: 292px;
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.45px;
  font-size: 1.125rem;
}
.about-us__button {
  margin-block: 108px;
}

.work {
  margin-bottom: 165px;
}
.work__elements {
  padding-top: 164px;
}
.work__elements__description h2 {
  font-size: 3.75rem;
  color: #576671;
  font-weight: 200;
  margin-bottom: 72px;
}
.work__elements__description p {
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  color: #87949e;
  line-height: 2.125rem;
  font-size: 1.125rem;
  width: 717px;
  margin-bottom: 72px;
}
.work__elements-1 {
  gap: 250px;
  padding-inline: 265px;
  display: grid;
  grid-template-columns: 33% 67%;
  background-color: rgba(237, 239, 241, 0.35);
}
.work__elements-1 img {
  width: 100%;
}
.work__elements-2 {
  padding-inline: 265px;
  display: grid;
  grid-template-columns: 67% 33%;
}
.work__elements-2 img {
  width: 100%;
  grid-column: 2;
  grid-row: 1;
}
.work__elements-2 p {
  grid-column: 1;
  grid-row: 1;
}

.quotes {
  padding-top: 188px;
  background-image: url("../../images/photo_2.png");
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  text-align: center;
  padding-inline: 263px;
}
.quotes .slider-wrapper {
  position: relative;
  overflow: hidden;
}
.quotes .slider-wrapper #arrow-prev-quotes {
  rotate: 180deg;
  left: 0;
  top: 50%;
}
.quotes .slider-wrapper #arrow-next-quotes {
  right: 0;
  top: 50%;
}
.quotes .slider-wrapper .slide-arrow {
  position: absolute;
}
.quotes .slider-wrapper .slides-container {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.quotes .slider-wrapper .slides-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.quotes .slider-wrapper .slides-container .slide-quotes {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}
.quotes .slider-wrapper .slides-container .slide-quotes img {
  margin-bottom: 45px;
}
.quotes .slider-wrapper .slides-container .slide-quotes q {
  font-size: 1.875rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  letter-spacing: 0.75px;
  margin-bottom: 38px;
  color: #fff;
}
.quotes .slider-wrapper .slides-container .slide-quotes q span {
  color: #17daa3;
}
.quotes .slider-wrapper .slides-container .slide-quotes p {
  font-size: 1.125rem;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.45px;
  color: rgba(255, 255, 255, 0.3);
  margin-bottom: 123px;
}
.quotes .slider-wrapper .slides-container .slide-quotes p span {
  font-weight: 500;
}
.quotes .slides__icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 147px;
}
.quotes .slides__icon:not(:first-child) {
  margin-left: 10px;
}
.quotes .slides__icon:first-child {
  background-color: white;
}

.services {
  background-color: rgba(237, 239, 241, 0.35);
}
.services__heading {
  text-align: center;
}
.services__heading h2 {
  padding-top: 110px;
  font-size: 3.75rem;
  color: #576671;
  font-weight: 200;
}
.services__heading span {
  display: inline-block;
  width: 30px;
  height: 1px;
  background-color: #17daa3;
  margin-top: 30px;
}
.services__heading p {
  margin-block: 56px 166px;
  color: #87949e;
  font-family: "Figtree", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}
.services__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0 265px 156px 265px;
}
.services__items .item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  margin-right: 20px;
}
.services__items .item h3 {
  color: #576671;
  font-family: "Raleway", sans-serif;
  font-size: 3.75rem;
  font-weight: 200;
}
.services__items .item div {
  background-color: #fff;
  width: 94px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.services__items .item p {
  color: #87949e;
  font-family: "Figtree", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #87949e;
  margin-block: 32 px 93px;
  letter-spacing: 0.45px;
  line-height: 3rem;
  grid-column: 2;
}

.bg--white {
  background-color: #f9f9fa;
}

.bg--grey {
  background-color: #e4e4e5;
}

.bg--lightGrey {
  background-color: #eff0f0;
}

.team__heading {
  text-align: center;
}
.team__heading h2 {
  padding-top: 110px;
  font-size: 3.75rem;
  color: #576671;
  font-weight: 200;
}
.team__heading span {
  display: inline-block;
  width: 30px;
  height: 1px;
  background-color: #17daa3;
  margin-top: 30px;
}
.team__heading p {
  margin-block: 56px 166px;
  color: #87949e;
  font-family: "Figtree", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}
.team__images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.team__images .person {
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
}
.team__images .person img {
  padding-top: 57px;
}
.team__images .person .image__overlay::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #17daa3;
  opacity: 0;
  transition: 0.5s ease;
}
.team__images .person .image__overlay:hover::before {
  opacity: 0.23;
}
.team__images .person::after {
  content: "\a";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(23, 218, 163, 0.8);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.team__images .person:hover::after {
  opacity: 1;
}
.team__images .person:hover::after .person__name {
  opacity: 1;
}
.team__images .person__name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  color: #fff;
  opacity: 0;
  z-index: 100;
  transition: all 0.5s ease-in-out;
  font-size: 2.25rem;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}
.team__images .person__name:hover {
  opacity: 1;
}

.pricing {
  background-color: rgba(237, 239, 241, 0.35);
  padding-inline: 265px;
  padding-bottom: 110px;
}
.pricing__heading {
  text-align: center;
}
.pricing__heading h2 {
  padding-top: 110px;
  font-size: 3.75rem;
  color: #576671;
  font-weight: 200;
}
.pricing__heading span {
  display: inline-block;
  width: 30px;
  height: 1px;
  background-color: #17daa3;
  margin-top: 30px;
}
.pricing__heading p {
  margin-block: 56px 166px;
  color: #87949e;
  font-family: "Figtree", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}
.pricing__options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.pricing__options-option {
  background-color: #fff;
  padding-top: 54px;
  border-radius: 5px;
  box-shadow: 0 0 35px 0 rgba(227, 227, 227, 0.65);
}
.pricing__options-option .label {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 57px;
  margin-bottom: 67px;
}
.pricing__options-option h3 {
  font-size: 3.75rem;
  color: #576671;
  font-weight: 200;
  margin: 0 0 27px 34px;
  font-family: "Raleway", sans-serif;
  color: #17daa3;
}
.pricing__options-option span {
  color: #87949e;
  font-family: "Figtree", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: rgba(135, 148, 158, 0.45);
  margin: 0 0 57px 34px;
}
.pricing__options-option .option__description {
  margin: 0 0 75px 34px;
  color: #87949e;
  font-family: "Figtree", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 3rem;
}
.pricing__options-option .button__purchase {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #17daa3;
  padding: 30px 35px;
  border: none;
  transition: all 0.3s ease-in-out;
}
.pricing__options-option .button__purchase:hover {
  background-color: #0d8361;
}
.pricing__options-option .button__purchase .purchase {
  color: #87949e;
  font-family: "Figtree", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
}

.locations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 126px;
  padding-left: 265px;
  gap: 56px;
}
.locations .description__title {
  font-size: 3.75rem;
  color: #576671;
  font-weight: 200;
  margin-bottom: 84px;
}
.locations .description__paragraph {
  color: #87949e;
  font-family: "Figtree", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 74px;
  line-height: 2.25rem;
}

.banner {
  display: grid;
  place-items: center;
  margin-top: 111px;
  padding-block: 280px;
  background-image: url("../../images/try-our-template.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.banner__title {
  margin-bottom: 100px;
  font-size: 3.75rem;
  color: #576671;
  font-weight: 200;
  color: #fff;
}
.banner__title span {
  font-weight: 700;
}

.footer {
  background-image: url("../../images/vector-smart-object-copy.png");
  background-repeat: no-repeat;
  background-position: top center;
  height: 576px;
  padding: 72px 265px 180px 265px;
}
.footer__div {
  display: flex;
  justify-content: space-between;
}
.footer__leftSide {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer__leftSide .copyright {
  color: #87949e;
}
.footer .links {
  display: flex;
  gap: 20px;
}
.footer .links a {
  color: rgba(135, 148, 158, 0.45);
}

.button {
  width: 183px;
  height: 47px;
  color: #fff;
  border-radius: 23px;
}

.button--green {
  background-color: #17daa3;
  border: none;
  font-size: 0.875rem;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
.button--green:hover {
  background-color: #0d8361;
}

body {
  scroll-behavior: smooth;
}/*# sourceMappingURL=main.css.map */